* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1c2030;
}

.login {
    display: flex;
    align-items: center;
}

.login h2 {
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.3s;
    letter-spacing: 0.2em;
}

.login h2:hover {
    transform: scale(1.2);
    color: #c797e2;
}

form {
    width: 400px;
    height: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5f6089;
    border-radius: 1em;
}

.email input {
    outline: 0;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    color: #1c2030;
    border: 1px solid #fff;
}

.password input {
    width: 300px;
    outline: 0;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    color: #1c2030;
    border: 1px solid #fff;

}

.submit {
    display: flex;
    gap: 30px;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sign {
    background: #c797e2;
    border: none;
    width: 5em;
    height: 70%;
    border-radius: 10px;
    transition: 0.5s;
}

#sign:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #122d44;
    text-transform: uppercase;
}

#create {
    background: #c797e2;
    border: none;
    width: 5em;
    height: 70%;
    border-radius: 10px;
    transition: 0.5s;
}

#create:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #122d44;
    text-transform: uppercase;
}